/* Use custom variables*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    vertical-align: baseline;
    line-height: 1;
}

body {
    background-image: url('../assets/bg-main-mobile.png');
    background-position: left 0px top -250px;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: min(max(40px, calc(2.5rem + ((1vw - 3.75px) * 4.507))), 88px);
    letter-spacing: min(max(-0.4545px, calc(0.02840625rem + ((1vw - 3.75px) * 0.0512))), -1px);
    margin-bottom: min(max(20px, calc(1.25rem + ((1vw - 3.75px) * 1.8779))), 40px);
    min-height: 0vw;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: min(max(32px, calc(2rem + ((1vw - 3.75px) * 0.7512))), 40px);
    font-weight: bold;
    line-height: min(max(40px, calc(2.5rem + ((1vw - 3.75px) * 1.1268))), 52px);
    color: #FCFAF9;
    min-height: 0vw;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

/*header*/

.page-header {
    position: relative;
    overflow: hidden;
    margin-bottom: min(max(68px, calc(4.25rem + ((1vw - 3.75px) * 4.0376))), 111px);
    min-height: 0vw;
}

.header-img {
    position: absolute;
    height: 400px;
    top: -32px;
    right: -35.6px;
}

.header-logo {
    margin-left: 24px;
    margin-top: min(max(40px, calc(2.5rem + ((1vw - 3.75px) * 5.598))), 62px);
    height: 32px;
    min-height: 0vw;
}

.header-content {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: min(max(64px, calc(4rem + ((1vw - 3.75px) * 5.9155))), 127px);
}

.page-header p {
    font-size: min(max(16px, calc(1rem + ((1vw - 3.75px) * 0.3756))), 20px);
    line-height: min(max(26px, calc(1.625rem + ((1vw - 3.75px) * 0.7512))), 34px);
    min-height: 0vw;
}

/*main*/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 98px 380px 220px 326px;
    justify-items: center;
}

/*phone*/

.phone {
    height: 430px;
    z-index: 1;
}

/*pattern*/

.pattern-container {
    background-color: #191826;
    border-radius: 12px;
    width: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.pattern {
    display: block;
    margin: auto;
    height: 420px;
}

/*article*/

article {
    background-color: #FA7453;
    padding: 48px 36px;
    border-radius: 12px;
    grid-row: 3 / 5;
    grid-column: 1 / 2;
}

article p {
    color: #FCFAF9;
}

article header p {
    margin-top: 12px;
    font-size: 18px;
    line-height: 28px;
}

.month {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    font-weight: 400;
    margin-left: 16px;
}

.price {
    font-size: 65px;
    font-weight: 700;
    line-height: 52px;
    margin: 36px 0 32px;
    display: flex;
    align-items: center;
}

button {
    height: 61px;
    width: 296px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

button img {
    margin-right: 7.8px;
}

.apple-btn {
    background-color: #191826;
    color: #FCFAF9;
    margin-bottom: 16px;
}

.android-btn {
    background-color: #FCFAF9;
    color: #191826;
}

/*footer*/

footer {
    margin: 64px 24px 80px;
}

.footer-logo {
    height: 32px;
}

.footer-content-container {
    margin-top: 32px;
}

.footer-content-container p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    max-width: 366px;
}

.footer-content-container p span {
    font-weight: 700;
}

.footer-icon-container {
    margin-top: 64px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

/*Media Queries*/

@media only screen and (max-width: 376px) {
    .header-img {
        display: none;
    }
    h1 {
        line-height: 48px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 769px) {
    
    body {
        background-image: url('../assets/bg-main-tablet.png');
        background-position: left -400px top -200px;
    }

    /*Header*/

    .header-logo, .header-content {
        margin-left: min(max(24px, calc(1.5rem + ((1vw - 3.75px) * 3.8168))), 39px);
        min-height: 0vw;
    }

    .header-content {
        width: min(max(327px, calc(20.4375rem + ((1vw - 3.75px) * 49.1094))), 520px);
        min-height: 0vw;
    }

    /*Main*/

    main {
        margin-left: 33px;
        margin-right: 39px;
        grid-template-columns: 64px 175px 95px 303px 58px;
        grid-template-rows: 138px 150px 268px 182px 96px;
    }

    /*Phone*/

    .phone {
        height: 556px;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    /*pattern*/

    .pattern-container {
        grid-row: 2 / 5;
        grid-column: 1 / 6;
    }

    /*Article*/

    article {
        grid-row: 3 / 6;
        grid-column: 3 / 5;
        z-index: 2;
        padding: 48px;
    }

    /*footer*/

    footer {
        margin: 87px 39px 85px 33px;
    }

    .footer-content-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-icon-container {
        margin: 0;
    }
}

@media only screen and (min-width: 769px) {
    body {
        background-image: url('../assets/bg-main-desktop.png');
        background-position: left -350px top -250px;
    }

    h1 {
        width: min(max(512px, calc(32rem + ((1vw - 7.68px) * 74.8512))), 1015px);
        min-height: 0vw;
    }

    /*Header*/

    .header-img {
        height: 468px;
        top: -40px;
        right: 0;
    }

    .header-logo, .header-content {
        margin-left: min(max(39px, calc(2.4375rem + ((1vw - 7.68px) * 18.8988))), 166px);
        min-height: 0vw;
    }

    .page-header p {
        width: min(max(520px, calc(32.5rem + ((1vw - 7.68px) * 45.3869))), 825px);
        min-height: 0vw;
    }

    /*Main*/

    main {
        margin: 0 165px;
        grid-template-columns: 102px 312px 155px 446px 95px;
        grid-template-rows: 213px 90px 339px 184px 115px;
    }

    /*phone*/

    .phone {
        height: 642px;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    /*Pattern*/

    .pattern-container {
        grid-column: 1 / 6;
        grid-row: 2 / 5;
        position: relative;
        z-index: 0;
    }

    .pattern {
        height: 468px;
        left: 336px;
        top: -40px;
        overflow: hidden;
        margin: 0;
        position: absolute;
    }

    /*Article*/

    article {
        padding: 58px 59px 48px 54px;
        grid-column: 4 / 5;
        grid-row: 3 / 6;
        z-index: 2;
    }

    article header p {
        margin-top: 22px;
        font-size: 20px;
        line-height: 32px;
    }

    .price {
        margin: 39px 0 46px;
    }

    button{
        width: 333px;
    }
    
    /*Footer*/

    footer {
        margin: 87px 165px 91px;
        display: flex;
    }

    .footer-logo {
        margin-right: 138px;
    }

    .footer-content-container {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .footer-icon-container {
        margin: 0;
    }
}